CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.vscode
bin
test/test.txt
.idea
cetrioli.cbp
CMakeFiles
Makefile
cmake_install.cmake
release/a.out
release/test.txt